p,
td,
th {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-family: "Atkinson Hyperlegible Next", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

table {
  border-collapse: collapse;
}

th {
  font-weight: 800;
}

td {
  text-align: end;
}

th,
td {
  padding: 0.3ex 1ex;
}

tr:nth-child(2n) {
  background-color: lavender;
}

table.rally td:not(:first-child),
table.driver td.time {
  font-family: "Ubuntu Mono", serif;
  font-weight: 400;
  font-style: normal;
}

table.rally td.fastest {
  font-weight: 600;
}
